a
{
	color: #034a80;
	text-decoration: none;
}

body
{
	background:#055a9b;
	font-size: 16px;
	text-align: center;
}

dd
{
	background: white;
	width: 66%;
}

dt
{
	font-weight: bold;
	width: 26%;
}

dd, dt
{
	/*border: 1px solid #000;*/
	color: #055a9b;
	display: inline-block;
	margin: 0.3em 0;
	padding: 0.4em 0.3em;
	vertical-align: top;
}

footer
{
	background:#eaeaea;
	color:#222;
	font-size: 0.8em;
	padding: 0.5em;
}

footer p
{
	margin: 0.2em;
}

header
{
	background:#055a9b;
	display: inline-block;
	height: 80px;
	margin: 0 0 0.1em 0;
	padding: 0.5em 0;
	width: 100%;
}

header h1
{
	color:#eaeaea;
	font-size: 1.7em;	
	margin: 0.8em 0 0 0;
	text-shadow:#2d2d2d 2px 2px 5px;
}

ul
{
	list-style: none;
	margin: 0.1em;
	padding: 0.1em;
}

#cargando
{
	display:none;
}

#contenedor
{
	/*border: 1px solid #000;*/
	display: inline-block;
	margin: 1em 0;
	width: 100%;
}

#contenidoIzq
{
	/*border: 1px solid #f00;*/
	background: #eaeaea;
	border-radius: 0.5em;
	box-shadow: #2d2d2d -2px 2px 5px;
	display: inline-block;
	margin-left: 0.3em;
	vertical-align: top;
	width:46%;
}

#contenidoDer
{
	/*border: 1px solid #f00;*/
	background: #eaeaea;
	border-radius: 0.5em;
	box-shadow: #2d2d2d -2px 2px 5px;
	display: inline-block;
	margin-left: 0.3em;
	vertical-align: top;
	width:46%;
}

#contenidosm2, #contenidosm4
{
	display: none;
}

#contenidosm3
{
	text-align: left;
}

#descargar
{
	text-align: right;
}

#formulario label
{
	display: inline-block;
	width: 160px;
}

#formulario input
{
	display: inline-block;
}

#menu
{
	background: #eaeaea;
	height: 40px;
}

#menuPrincipal
{
	/*border: 1px solid #000;*/
	display: inline-block;
	text-align: left;
	width: 49%;
}

#menuUsuario
{
	/*border: 1px solid #000;*/
	display: inline-block;
	text-align: right;
	vertical-align: top;
	width: 48%;
}

#navegacion
{
	color: #eaeaea;
	text-align: left;
}

#navegacion li a
{
	color: #eaeaea;
	font-weight: bold;
}

#rcontenidos li
{
	color: #034a80;
	font-weight: bold;
	padding: 0.1em 0.3em;
	margin: 0px;
}

#ocontenidos li
{
	font-weight: normal;
}

#submenu1, #submenu2, #busq1, #busq2
{
	background:#034a80;
	border-radius: 0.2em;
	color: white;
	cursor:pointer;
	display: inline-block;
	padding: 0.3em 0;
	text-align: center;
	width: 40%;
}

#submenu2, #busq2
{
	background:#155688;
}

.contenido
{
	margin-bottom: 1em;
	padding: 0.8em;
	text-align: left;
}

.descarga {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background-color:#ffec64;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffaa22;
	display:inline-block;
	color:#333333;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffee66;
}.descarga:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
	background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
	background-color:#ffab23;
}.descarga:active {
	position:relative;
	top:1px;
}

.menusbtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:1em;
	font-weight:bold;
	padding:0.4em 1em;
	text-decoration:none;
	text-shadow:1px 1px 0px #1570cd;
}.menusbtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.menusbtn:active {
	position:relative;
	top:1px;
}

.menusubtn
{
	margin-top:0.4em;
}

.menus li
{
	display: inline-block;
	margin: 0;
	padding: 0;
}

.submenu, .busq
{
	margin-bottom: 1em;
}

.resultados
{
	background: #7ac2f9;
	border-radius: 0.3em;
	margin: 0.3em 0;
	padding: 0.3em;
	text-align: left;
}

.titulos
{
	color: #055a9b;
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: 1em;
	text-align: center;
}

.titulo_item p
{
	background: white;
	border-radius: 0.3em;
	box-shadow: #7ac2f9 0px 0px 7px;
	color: #055a9b;
	font-weight: bold;
	font-size: 1.5em;
	margin: 0.5em 0;
	padding: 0.5em;
	text-align: center;
}