{% extends 'base.html' %}
{% block titulo %} {{categoria.nombre_ruta|capfirst}} {% endblock %}
{% block encabezado %}
	Categoria: {{categoria.nombre_ruta|capfirst}}
{% endblock %}
{% block itemMenuUs %} <li><a href="/cerrar">Salir</a></li> {% endblock %}
{% block contenidoIzq %}
	<ul>
		{% for c1 in catn1 %}
			<li><a href="/categoria/{{c1.id}}">
				{{c1.nombre_ruta|title}}
				{% if c1.objeto_set.count != 0 %}
					({{c1.objeto_set.count}})
				{% endif %}
			</a></li>
		{% endfor %}
	</ul>
	<hr>
	<ul>
		{% for obj in objetos %}
			<li><a href="/objeto/{{obj.id}}">{{obj|title}}</a></li>
		{% empty %}
			<li>No hay Objetos en esta categoría.</li>
		{% endfor %}
	</ul>
{% endblock %}