{% extends 'base.html' %}
{% block titulo %} Bienvenido, {{usuario.username|capfirst}} {% endblock %}
{% block encabezado %}
	Bienvenido, {{usuario.first_name|capfirst}}
{% endblock %}
{% block itemMenu %}
	{% if usuario.profile.rol = 'rdoc' %}
		<li><a href="/{{usuario.profile.rol}}">Objetos</a></li>
	{% endif %}
{% endblock %}
{% block itemMenuUs %} <li><a href="/cerrar">Salir</a></li> {% endblock %}
{% block contenidoIzq %}
	<div class="submenu" id="submenu1">Repositorios</div>
	<ul>
		{% for rep in repos %}
			<li>{{rep.nombre|title}}</li>
		<ul>
			{% for obj in objetos %}
				{% if obj.repositorio == rep %}
					<li><a href="/objeto/{{obj.id}}">{{obj}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
		{% empty %}
			<li>No hay repositorios registrados aún.</li>
		{% endfor %}
	</ul>
	<div class="submenu" id="submenu2">Categorias</div>
	<ul>
		{% for cn1 in catn1 %}
			<li><a href="/categoria/{{cn1.id}}">
				{{cn1.nombre_ruta}}
				{% if cn1.objeto_set.count != 0 %}
					({{cn1.objeto_set.count}})
				{% endif %}
			</a></li>
			<ul>
				{% for cn2 in catn2 %}
					{% if cn2.cat_padre == cn1 %}
						<li><a href="/categoria/{{cn2.id}}">
							{{cn2.nombre_ruta}}
							{% if cn2.objeto_set.count != 0 %}
								({{cn2.objeto_set.count}})
							{% endif %}
						</a></li>
						<ul>
							{% for cn3 in catn3 %}
								{% if cn3.cat_padre == cn2 %}
									<li><a href="/categoria/{{cn3.id}}">
										{{cn3.nombre_ruta}}
										{% if cn3.objeto_set.count != 0 %}
											({{cn3.objeto_set.count}})
										{% endif %}
									</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
				{% endfor %}
			</ul>
		{% endfor %}
	</ul>
{% endblock %}
{% block contenidoDer %}
	<div class="busq" id="busq1">Búsqueda Rápida</div>
	<!--<form action="/buscar" method="get">-->
        <input id="q" type="text" name="q">
        <input id="busca" type="submit" value="Buscar">
    <!--</form>-->
    <div id="results">
    	<ol id="results1">
    	</ol>
	</div>
	<div class="busq" id="busq2">Búsqueda Avanzada</div>
	<form id="formulario" method="get">
		
		{{ form.non_field_errors }}

		{{ form.lc1_titulo.errors }}
		<label for="id_lc1_titulo">Buscar por título:</label>
        {{ form.lc1_titulo }}
        <span>(Y)</span>
        {{ form.lc1_idioma.errors }}
		<label for="id_lc1_idioma">Buscar por idioma:</label>
        {{ form.lc1_idioma }}
        <span>(Y)</span>
        {{ form.lc1_nivel_agregacion.errors }}
		<label for="id_lc1_nivel_agregacion">Buscar por nivel de agregación:</label>
        {{ form.lc1_nivel_agregacion }}
        <span>(Y)</span>
        <label for="id_fecha">Buscar por fecha de publicación:</label>
        {{ form.fecha }}
        <span>(Y)</span>
        <label for="id_lc4_tipo_inter">Buscar por Tipo de Interactividad:</label>
        {{ form.lc4_tipo_inter }}
        <span>(Y)</span>
        <label for="id_lc4_tipo_rec">Buscar por Tipo de Recurso:</label>
        {{ form.lc4_tipo_rec }}
        <span>(Y)</span>
        <label for="id_lc4_nivel_inter">Buscar por Nivel de Interactividad:</label>
        {{ form.lc4_nivel_inter }}

		<p><input id="busqueda" type="submit" value="Busqueda"/></p>
	    <div id="resultado">
	    	<ol id="results2">
	    	</ol>
		</div>
	</form>
	<span id="cargando"><img src="{{STATIC_URL}}img/temp.png"/></span>
{% endblock %}