{% extends 'base.html' %}
{% block titulo %} Bienvenido, {{usuario.username|capfirst}} {% endblock %}
{% block encabezado %}
	Bienvenido, {{usuario.username|capfirst}}
{% endblock %}
{% block itemMenuUs %} <li><a href="/cerrar">Salir</a></li> {% endblock %}
{% block contenidoIzq %}
	<div class="submenu" id="submenu1">Repositorios</div>
	<ul>
		{% for rep in repos %}
			<li>{{rep.nombre|title}}</li>
		<ul>
			{% for obj in objetos %}
				{% if obj.repositorio == rep %}
					<li><a href="/objeto/{{obj.id}}">{{obj}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
		{% empty %}
			<li>No hay repositorios registrados aún.</li>
		{% endfor %}
	</ul>
	<div class="submenu" id="submenu1">Categorias</div>
	<ul>
		{% for cn1 in catn1 %}
			<li><a href="/categoria/{{cn1.id}}">
				{{cn1.nombre_ruta}}
				{% if cn1.objeto_set.count != 0 %}
					({{cn1.objeto_set.count}})
				{% endif %}
			</a></li>
			<ul>
				{% for cn2 in catn2 %}
					{% if cn2.cat_padre == cn1 %}
						<li><a href="/categoria/{{cn2.id}}">
							{{cn2.nombre_ruta}}
							{% if cn2.objeto_set.count != 0 %}
								({{cn2.objeto_set.count}})
							{% endif %}
						</a></li>
						<ul>
							{% for cn3 in catn3 %}
								{% if cn3.cat_padre == cn2 %}
									<li><a href="/categoria/{{cn3.id}}">
										{{cn3.nombre_ruta}}
										{% if cn3.objeto_set.count != 0 %}
											({{cn3.objeto_set.count}})
										{% endif %}
									</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
				{% endfor %}
			</ul>
		{% endfor %}
	</ul>
{% endblock %}
{% block contenidoDer %}
	{% if error %}
        <p style="color: red;">Please submit a search term.</p>
    {% endif %}
    <form action="/buscar" method="get">
        <input type="text" name="q">
        <input type="submit" value="Buscar">
    </form>
    {% if resultado %}
		<ol>
		{% for result in resultado %}
		    <li><a href="/objeto/{{result.id}}">{{result}}</a></li>
		{% endfor %}
		</ol>
	{% endif %}
{% endblock %}